<div class='main-index' ng-controller='mainIndexController' ng-init='init()'>
  <div class='header'>
    <div class='logo'></div>
    <div class='hello-user'>Hello user</div>
  </div>
  <div class='main-screen'>
    <div class='side-menu'>
      <div class='items-container'>
        <div class='side-menu-item' ng-repeat='link in side_menu.links' ng-click='clickLink(link.href)'>
        {{link.title}}
        </div>
      </div>
    </div>
    <form class='questions-wrapper' ng-submit='clickSubmit()'>
      <div class='main-content' ng-repeat='question in security_questions track by $index' ng-class='{"first": $first}'>
        <div class='question-title'>security question {{$index + 1}}</div>
        <select ng-init='clearSelectBox($index)'
                class='question-selectbox'
                ng-change='onSelectionChanges()'
                ng-model="selected_q[$index]">
          <option>Please choose a question</option>
          <option ng-repeat="q in security_questions" ng-value='q.index' ng-hide='q.is_selected'>  {{q.question}}</option>
        </select>
        <input class='answer-input' ng-model='security_questions[selected_q[$index]].answer' type='text' placeholder="Type your answer here!" ng-disabled='selected_q[$index] === "Please choose a question"'>
        <input ng-repeat-end class='clear-btn' type='button' ng-click='clearSelectBox($index)' value='Clear'>
      </div>
      <input class='submit-btn' type='submit' value='Submit'>
    </form>
  </div>
   <div class="footer">
      All rights reserved to Moblin LTD. 
   </div>
</div>