

<div id='responsive' class='main-index' ng-controller='mainIndexController' ng-init='init()'>
  <div class='header'>
    <div class='logo'></div>
    <button type="button" class="navbar-toggle collapsed dark-blue-border">
      <span class="icon-bar light-blue-back"></span>
      <span class="icon-bar light-blue-back"></span>
      <span class="icon-bar light-blue-back"></span>
    </button>
    <div class="hello-date">
      <div class='hello-user'>Hello user</div>
      <div class='today'>{{today | date: 'MMM dd yyyy' : 'UTC'}}</div>
    </div>
  </div>
  <div class='main-screen' ng-class='{"submited": submited.action}'>
    <div class='side-menu'>
      <div class='items-container'>
        <div class='side-menu-item' ng-repeat='link in side_menu.links' ng-click='clickLink(link.href)'>
        {{link.title}}
        </div>
      </div>
    </div>
    <form class='questions-wrapper' ng-submit='clickSubmit()'>
      <div class='main-content' ng-repeat='question in num_of_questions_array track by $index' ng-class='{"first": $first}'>
        <div class='question-title'>Security question {{$index + 1}}</div>
        <div class="ques-answ-container">
          <select ng-init='clearSelectBox($index)'
                ng-if='!submited.action'
                class='question-selectbox'
                ng-change='onSelectionChanges($index)'
                ng-model="selected_q[$index]">
            <option>Please choose a question</option>
            <option ng-repeat="q in security_questions" ng-value='q.index' ng-hide='q.is_selected'>  {{q.question}}</option>
          </select>
          <input class='answer-input'
               ng-model='input_answers[$index]'
               type='text'
               placeholder="Type your answer here!"
               ng-change='bad_input[$index] = {}'
               ng-disabled='selected_q[$index] === "Please choose a question"'
               ng-style="bad_input[$index].val ? {'border-color': 'red'} : {}">
        </div>
          <div style='color:red;text-align: center;margin-top:15px;' ng-show='bad_input[$index].val' class='bad-input-msg'>{{bad_input[$index].msg}}</div>
          <input class='clear-btn' type='button' ng-click='clearSelectBox($index)' value='Clear'>
      </div>
      <input class='submit-btn' type='submit' value='Submit'>
    </form>
    <div class='thanks-wrapper'>
      <div class="text">Number of received answers is: <br><span class='recived_a'> {{received_answers.count}}</span></div>
      <div class='thankyou'>Thank you!</div>
      <input class='try-again-btn' type='button' value="Try again" ng-click='init()'>
    </div>
  </div>
   <div class="footer">
      All rights reserved to Moblin LTD. 
   </div>
</div>